langgraph==0.2.60
langchain==0.3.13
langchain-chroma==0.1.4
langchain-community==0.3.13
langchain-core==0.3.28
langchain-openai==0.2.14
langfuse
apscheduler
uvicorn
gunicorn
fastapi
starlette
pydantic
pandas
datetime
pytz
httpx
requests
python-dotenv
lark